@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Merriweather+Sans:ital,wght@1,300&family=Permanent+Marker&display=swap');

* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #212F3C;
    overflow-x: hidden;

}

#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10px;
    background-color: #17202A;

}

.logo {
    cursor: pointer;
    color: white;
    font-size: 50px;
    font-weight: bold;
    padding-left: 20px;
    font-family: 'Dancing Script', cursive;
}

#nav-bar ul {
    list-style: none;
}

#nav-bar ul li {
    display: inline-block;
    padding: 0 20px;
}

#nav-bar a {
    color: white;
    font-size: 20px;
    text-decoration: none;
    font-family: 'Merriweather Sans', sans-serif;
}

#nav-bar a:hover {
    background-color: #85929E;
    padding: 8px 15px;
}

button {
    background-color: #34495E;
    color: white;
    width: 150px;
    height: 50px;
    border-radius: 50px;
    font-size: 18px;
    text-align: center;
    border: none;
    margin-right: 20px;
    font-family: 'Merriweather Sans', sans-serif;
}

.header-img-heading {
    position: absolute;
    top: 300px;
    left: 450px;
}

.header-img-heading h3 {
    font-size: 50px;
    text-align: center;
    font-family: 'Dancing Script', cursive;
    color: white;
}

.header-img-heading p {
    margin-top: 20px;
    font-size: 20px;
    text-align: center;
    color: white;
}


.grid-section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    height: 50%;
    width: 70%;
    margin: 50px auto;
    gap: 50px;
}

.grid {
    height: 30vh;
    width: 100%;
    background-color: #34495E;
    border-radius: 10px;
}

.icons {
    height: 50%;
    display: flex;
    justify-content: center ;
    align-items: center;
}
i {
    font-size: 100px;
    color: whitesmoke;
}

.description {
    text-align: center;
    padding: 20px;
    color: whitesmoke
}

.video-section {
    height: 50vh;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}

#footer {
    background-color: #17202A;
    height: 12vh;
}

#footer h2 {
    padding-top: 20px;
    text-align: center;
    color: whitesmoke;
    font-family: 'Dancing Script', cursive;
    font-family: 'Merriweather Sans', sans-serif;
}

.grid-social-newsletter{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 10px auto;
}

.social-icons {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.social-icons i {
    font-size: 40px ;
}

.newsletter {
    margin: 10px auto;
}

input[type="email"], input[type="submit"]{
    height: 30px;
    width: 200px;
    border: none;
}

input[type="submit"] {
    background-color: #34495E;
    font-size: 15px;
    color: white;
}
